.form{
    transform: translate(5%, 12%);
    border: 1px solid #eee;
    border-radius: 0.5em;
    height: 32em;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0.3em 0.3em 0.6em rgba(0,120,150,0.8);
    width: 90%;
    padding: 1em;
    overflow-y: auto;
}